.card {
  height: 100%;
}
.card img {
  width: 100%; /* Pour assurer que l'image remplit entièrement la zone de la carte */
  height: 80%; /* Pour maintenir le ratio hauteur/largeur de l'image */
  border-radius: 8px; /* Ajoute des coins arrondis à l'image */
  object-fit: cover; /* Pour redimensionner l'image tout en conservant ses proportions et en remplissant son conteneur */
}
.card-title {
  font-size: 15px;
}
/*.card img:hover {
  transform: scale(1.3);
  overflow: visible;
  cursor: pointer;
  z-index: 100;
}*/
