.navbar {
    background-color: #1b263b;
}
.navbar-brand {
    color: #415a77 !important;
}
.nav-link {
    color: white !important;
    border-radius: 10px;
}
.nav-link:hover {
    background-color: #0d1b2a;
}
.navbar-toggler {
    background-color: #415a77 !important;
}
