

.moviePoster  {
    width: 90%;
}


.movieTitle {
    text-align: center;
    padding-bottom: 50px;
}

#movieReview ul li {
    padding: 10px;
    margin-bottom: 10px;
    list-style-type: none;
    background-color: #415a77;
  }
  
/* COULEURS PERSO */ 
.bg-grey1 {
    background-color: #0D1B2A;
}
.bg-grey2{
        background-color: #1B263B;
}
.grey3 {
       background-color: #415A77;
}
 .grey4 {
      background-color: #778DA9;
}

.grey5 {
    background-color: #E0E1DD;
}
